            body {
                background-image: url("../images/library.jpg");
                background-position-x: center;
                background-repeat: no-repeat;
                background-size: center;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }

            .main-nav{
                width: 0px;
                padding: 0px 10px;
            }
            
            section nav {
                display: flex;
                margin: 0;
                background-color: brown;
                border-radius: 9px;
            }

            .main-nav h3 a{
                color: rgb(247, 242, 242);
                text-decoration: none;
            }

            .nav2 ul {
                list-style-type: none;
                margin: 20px;
                display: inline-flex;
                padding-left: 950px;
            }
            
            .nav2 ul li a{
                color: rgb(247, 242, 242);
                text-decoration: none;
            }

            section nav .nav2 ul li {
                padding-right: 30px;
                border: 5px;
            }
            
            h2 {
                text-align: justify;
                margin-top: 100px;
                margin-bottom: 0;
            }
            
            p {
                padding-top: 0;
                font-family: Arial, Helvetica, sans-serif;
            }
            
            div p {
                color: rgb(94, 8, 8);
            }
            
            aside {
                border-color: black;
                background-color: brown;
                width: 200px;
                border-radius: 10px;
                margin-left: 80%;
            }
            
            aside form {
                display: block;
                padding: 1px;
                padding-top: 0;
            }

            aside .user input{
                    border-style: none;
                    padding: 8px;
                    margin: 5px 2px;
            }
            
            aside .user input:last-child{
                margin-left: 60px;
                margin-top: 8px;
                background: brown;
                border: 2px solid black;
                border-radius: 5px;
                padding-top: 5px;
                font-family: sans-serif;
            }

            .footer {
                display: flex;
                justify-content: center;
                padding: 65px;
                list-style-type: none;
                color: black;
                text-decoration: underline;
                font-family: Arial, Helvetica, sans-serif;
            }

            .active:hover{
                background-color: gray;
            }

            @media all and (max-width: 320px){

            body{
                height: 500px;
                width: 350px;
                margin: 0px;
            }
            
            .main-nav{
                display: block;
                margin-top: 0px;
                padding-top: 0px;
            }

            .nav2 ul{ 
                padding: 0px 0px;
                margin-top: 45px;
                margin-bottom: 0px;
                margin-right: 20px;
                margin-left: 0px;
                display: block;
                color: rgb(170, 98, 5);
               }

            aside{
                margin: 0px;
            }

            h2{
                margin-top: 10px;
                margin-right: 40px;
            }

            p{
                margin-top: 5px;
            }
            

            .footer p{
                font-size: 5px;
                font-weight: bolder;
            }
            }
